.activeCarts {
	display: flex;
	font-family: 'Roboto';
	justify-content: center;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.googleMap {
	display: flex;
	justify-content: center;
}
.locate img {
	width: 30px;
	cursor: pointer;
}

.locate {
	display: flex;
	position: relative;
	background: none;
	border: none;
	z-index: 1;
}
